.adicionarPage {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .form {
    display: flex;
  position: relative;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
  }
  
  /* Use a classe com o escopo correto */
  .input, .select, .button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .select {
    font-size: 16px;
  }
  
  .button {
    background-color: #0070f3;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #005bb5;
  }

.sugestoesLista {
  position: absolute;
  top: 100%; /* começa exatamente abaixo do input */
  margin-top: 4px; /* ou mais, se quiser mais espaço */
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8); /* ou 0 para total transparência */
  backdrop-filter: blur(4px); /* opcional */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  list-style: none;
  padding: 0;
}


.sugestaoItem {
  padding: 8px;
  cursor: pointer;
}

.sugestaoItem:hover {
  background-color: #f0f0f0;
}
  