.listaPage {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
  }
  
  .table th,
  .table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #0070f3;
    color: white;
  }
  
  .observacao {
    font-style: italic;
    color: #555;
  }
  
  .resetButton {
    padding: 10px 15px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
  }
  
  .resetButton:hover {
    background-color: #cc0000;
  }
  
  .erroMatricula {
    color: red;
    font-weight: bold;
  }
  
  .noResults {
    font-size: 18px;
    color: #555;
    font-style: italic;
    margin-top: 20px;
  }

  .voltarButton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .voltarButton:hover {
    background-color: #0056b3;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    text-align: center;
  }
  
  .modalContent h2 {
    margin-bottom: 15px;
  }
  
  .modalContent ul {
    list-style: none;
    padding: 0;
  }
  
  .modalContent button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background: #0070f3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .pdfButton {
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .pdfButton:hover {
    background-color: #45a049;
  }
  
  
  .modalContent button:hover {
    background: #0056b3;
  }
  
  
  @media (max-width: 768px) {
    .filters {
      flex-direction: column;
    }
  }
  